<!-- Content Heading -->

<% if (title) { %>
    <h1 style="grid-column: 1 / 3;"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- A Message -->
    
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
    <!-- Delete car -->
    <form action="/inv/delete" method="post">
        <label for="invMake">Make</label>
        <input type="text" name="inv_make" id="invMake" required value="<%= locals.inv_make %>" pattern="[a-zA-Z0-9]{3,}" readonly>
        <label for="invModel">Model</label>
        <input type="text" name="inv_model" id="invModel" required value="<%= locals.inv_model %>" pattern="[a-zA-Z0-9]{3,}" readonly>
        <label for="invPrice">Price</label>
        <input type="text" name="inv_price" id="invPrice" required value="<%= locals.inv_price %>" pattern="[0-9.]+" readonly>
        <label for="invYear">Year</label>
        <input type="text" name="inv_year" id="invYear" required value="<%= locals.inv_year %>" pattern="[0-9]{4}" readonly>
        
        <p>Confirm Deletion - The delete is permanent.</p>

        <input type="submit" value="Delete Vehicle">
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>